.alert-list {
  position: fixed;
  top: 40%;
  right: 5%;
  z-index: 8888;
  div {
    i {
      position: absolute;
      top: 5px;
      right: 15px;
      cursor: pointer;
    }
    position: relative;
    min-width: 200px;
    max-width: 250px;
  }
}
