* {
  box-sizing: border-box;
}

body {
  font-family: $font-stack;
  margin: 0;
  padding: 0;
  color: $dark-theme-bg;
}

.shadow_sm {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.shadow_md {
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}

.show_lg {
  box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2),
    0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
}

%btn {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  font-family: $font-stack;
  .link {
    text-decoration: none;
    color: #fff;
  }
}

.btn_sm {
  @extend %btn;
  padding: 8px 12px;
  font-size: 14px;
}

.btn_md {
  @extend %btn;
  padding: 12px 16px;
  font-size: 16px;
}

.btn_default {
  @extend %btn;
  background-color: transparent;
  //color: $light-theme-text;
  color: #fff;
}

.btn_link {
  .link {
    color: $primary-color;
  }
}

.link {
  text-decoration: none;
  color: #fff;
  &.active_link {
    background-color: lighten($color: $primary-color, $amount: 5%);
  }
}

.btn_block {
  width: 100%;
}
.btn_primary {
  background-color: $primary-color;
  color: #fff;
}
.btn_secondary {
  background-color: $secondary-color;
  color: #fff;
}

input {
  padding: 14px;
  border: 1px solid lighten($color: $gray-color, $amount: 30%);
  font-family: $font-stack;
  outline: none;
  border-radius: 5px;
  @include MediaQuery($xs) {
    width: 90%;
  }
  &.error {
    border-color: $error-color;
  }
}

.form-error {
  color: $error-color;
  margin: 3px 0;
}

label {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 5px;
}

.account-form {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  .account-form-container {
    text-align: center;
    .switch-text {
      color: $light-theme-text;
      margin: 10px 0 15px 0;
      font-size: 13px;
    }
  }
}

%container {
  width: 90%;
  margin: 0 auto;
}

.container_sm {
  @include MediaQuery($xs) {
    width: 90%;
  }
  @include MediaQuery($sm) {
    width: 50%;
  }
  @include MediaQuery($md) {
    width: 40%;
  }
  @include MediaQuery($lg) {
    width: 30%;
  }
  @extend %container;
}

.container_md {
  @include MediaQuery($xs) {
    width: 90%;
  }
  @include MediaQuery($sm) {
    width: 50%;
  }
  @include MediaQuery($md) {
    width: 40%;
  }
  @include MediaQuery($lg) {
    width: 50%;
  }
  @extend %container;
}

.form-control {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px auto;
  input {
    width: 100%;
  }
}

%alert {
  width: 100%;
  background-color: red;
  padding: 15px;
  margin: 10px 0;
  text-align: left;
  border-radius: 5px;
}

.alert_err {
  @extend %alert;
  background-color: $error-color;
  color: #fff;
}

.alert_warning {
  @extend %alert;
  background-color: $warning-color;
  color: #fff;
}

.alert_success {
  @extend %alert;
  background-color: $success-color;
  color: #fff;
}
