@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
$primary-color: #3d56ba;
$error-color: #eb4b54;
$warning-color: #f9c35c;
$success-color: #38887b;
$info-color: #8c84eb;
$secondary-color: #ea366c;
$dark-theme-bg: #1d1d44;
$light-theme-bg: #f3fafb;
$light-theme-text: #8c8c9c;
$gray-color: #8c8c9c;
$dark-them-text: #c4bdcb;
$font-stack: "Open Sans", sans-serif;
