@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
$primary-color: #3d56ba;
$secondary-color: #8444d3;
$dark-theme-bg: #1d1d44;
$light-theme-bg: #f3fafb;
$light-theme-text: #8c8c9c;
$dark-them-text: #c4bdcb;
$font-stack: "Open Sans", sans-serif;
